
  
  body {
      background-color:black;
  }


  .text {
    Font-size: 50px;
    letter-spacing: 30;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 239px;
    color:white  
  
}



.subheader {
    Font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 125px;
    color:white
  
}

.main {
    Font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color:white
  
}

@media (max-width: 768px){
  .main , .last {
    margin: 15px;
  }
}

.last {
    margin-top: -10px;
    Font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align-last: left;
    color:white
    
  
}


.my_nav_center{
  text-align: center;
  margin: auto;
  font-size: 18px;
}

  button:focus {
    outline: none;
  }

  @media (max-width: 768px){
    .my_nav_center{
      margin-left: 0px;
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("/images/menu.png");
    margin-top:20px;
  }

  @media (max-width: 768px){
    .image1 {
      float: none;
      padding-bottom: 20px;
    }
  }


.image1 {
    margin-right: 30px;
    float: left;
}

  @media (max-width: 768px){
    .image1 {
      float: none;
      padding-bottom: 20px;
    }
  }

#navbarNavAltMarkup

/* Style the links inside the navigation bar */
#navbarNavAltMarkup a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  #navbarNavAltMarkup a:hover .menuunderline{
    border-bottom: 2px solid white;
  }
  
  #navbarNavAltMarkup a.active .menuunderline {
    border-bottom: 2px solid white;
  }

 
