body {
    background-color:black;
}


.text {
  Font-size: 50px;
  letter-spacing: 30;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 239px;
  color:white
  

}

.subheader {
  Font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  width: 145px;
  color:white
}


.my_nav_center{
  text-align: center;
  margin: auto;
  font-size: 18px;
}

button:focus {
  outline: none;
}

@media (max-width: 768px){
  .my_nav_center{
    margin-left: 0px;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("/images/menu.png");
  margin-top:20px;
}

.image1 {
  margin-right: 30px;
}


.songsname {
  margin-top: 30px;
  line-height: 30px;
  padding-left:0px;
  Font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color:white
  
}

.songstime {
  margin-top: 30px;
  list-style-type: none;
  padding-left:0px;
  line-height: 30px;
  Font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color:white
}

#navbarNavAltMarkup

/* Style the links inside the navigation bar */
#navbarNavAltMarkup a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  #navbarNavAltMarkup a:hover .menuunderline{
    border-bottom: 2px solid white;
  }
  
  #navbarNavAltMarkup a.active .menuunderline {
    border-bottom: 2px solid white;
  }

  
  @media (max-width: 768px){
    .image1 {
      float: none;
      padding-bottom: 20px;
    }
  }

  @media (max-width: 768px){
   .songsname {
      margin-top: 0px;
      margin-left:20px;
      margin-right:-10px;
    }
  }

  @media (max-width: 768px){
   .songstime {
      margin-top: 0px;
      margin-left:-20px;
      padding-left:0px;
    }
  }
