body, html {
    height: 100%;
  }
  body {
    /* The image used */
    /* background-image: url("/images/background.jpg"); */
      background-image: url("/images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-size: cover;
  }

  
 
  .my_nav_center{
    margin: auto;
    font-size: 18px;
  }

  button:focus {
    outline: none;
  }
  
  @media (max-width: 768px){
    .my_nav_center{
      margin-left: 0px;
    }
  }



  .navbar-light .navbar-toggler-icon {
    background-image: url("/images/menu.jpg");
    margin-top:20px;
  }

  .onlyheader {
      Font-size: 39px;
      letter-spacing: 70;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      color: white;
      margin: auto;
      width: 314px;
  }

@media (min-width: 768px){
    .onlyheader{
        Font-size: 101px;
        width: 476px;
    }
}

 


#navbarNavAltMarkup

/* Style the links inside the navigation bar */
#navbarNavAltMarkup a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }
  
  #navbarNavAltMarkup a:hover .menuunderline{
    border-bottom: 2px solid white;
  }
  
  #navbarNavAltMarkup a.active .menuunderline {
    border-bottom: 2px solid white;
  }
